<div class="data-list-container">
  <app-main-container>
    <mat-grid-list cols="4" rowHeight="1:1">
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>GeeksforGeeks</mat-card-title>
            <mat-card-subtitle>
              One stop solution for all CS Subjects
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              With the idea of imparting programming knowledge, Mr. Sandeep
              Jain, an IIT Roorkee alumnus started a dream, GeeksforGeeks.
              Whether programming excites you or you feel stifled, wondering how
              to prepare for interview questions or how to ace data structures
              and algorithms, GeeksforGeeks is a one-stop solution.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button style="background-color: blue; color: white">
              LIKE
            </button>
            <button mat-button style="background-color: green; color: white">
              SHARE
            </button>
          </mat-card-actions>
        </mat-card></mat-grid-tile
      >
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>GeeksforGeeks</mat-card-title>
            <mat-card-subtitle>
              One stop solution for all CS Subjects
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              With the idea of imparting programming knowledge, Mr. Sandeep
              Jain, an IIT Roorkee alumnus started a dream, GeeksforGeeks.
              Whether programming excites you or you feel stifled, wondering how
              to prepare for interview questions or how to ace data structures
              and algorithms, GeeksforGeeks is a one-stop solution.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button style="background-color: blue; color: white">
              LIKE
            </button>
            <button mat-button style="background-color: green; color: white">
              SHARE
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>GeeksforGeeks</mat-card-title>
            <mat-card-subtitle>
              One stop solution for all CS Subjects
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              With the idea of imparting programming knowledge, Mr. Sandeep
              Jain, an IIT Roorkee alumnus started a dream, GeeksforGeeks.
              Whether programming excites you or you feel stifled, wondering how
              to prepare for interview questions or how to ace data structures
              and algorithms, GeeksforGeeks is a one-stop solution.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button style="background-color: blue; color: white">
              LIKE
            </button>
            <button mat-button style="background-color: green; color: white">
              SHARE
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <mat-card-header>
            <mat-card-title>GeeksforGeeks</mat-card-title>
            <mat-card-subtitle>
              One stop solution for all CS Subjects
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>
              With the idea of imparting programming knowledge, Mr. Sandeep
              Jain, an IIT Roorkee alumnus started a dream, GeeksforGeeks.
              Whether programming excites you or you feel stifled, wondering how
              to prepare for interview questions or how to ace data structures
              and algorithms, GeeksforGeeks is a one-stop solution.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button style="background-color: blue; color: white">
              LIKE
            </button>
            <button mat-button style="background-color: green; color: white">
              SHARE
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </app-main-container>
</div>
