p {
  font-family: "Lato", sans-serif;
  text-align: justify;
}

mat-card {
  border-radius: 4px;
  width: 80%;
  max-width: 100%;
  max-height: 35%;
}

  mat-card-image {
    max-width: 50%;
    max-height: 100%;
    float: left;
  }

  mat-card-content {
    display: flex;
    float: right;
    justify-content: space-between;

    & > * {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: auto;
      max-width: 15%;

      &:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      &:last-child {
        flex-direction: column;
        align-items: start;
        padding: 8px;
      }
    }
  }

mat-card img{
  object-fit: cover;
  width: 20%;
}

mat-card-subtitle {
  font-size: 15px;
  padding-left: 1%;
}

mat-card-title {
  padding-left: 1%;
  color: green;
  font-size: 30px;
  display: flex;
  text-transform: uppercase;
}

.data-list-container{
    width: 100%;
    max-height: 100vh;
    border:1px solid red;
    overflow: scroll;
}