<div class="data-list-container">
  <app-main-container>
    <mat-grid-list cols="4" rowHeight="1:1">
      @if(salesData){
      <ul>
        @for (i of salesData; track i) {
        <mat-grid-tile>
          <mat-card>
            <mat-card-title>{{ i.name }}</mat-card-title>
            <mat-card-subtitle>
              {{ i.createdAt }}
            </mat-card-subtitle>
            <img mat-card-image src="{{ i.avatar }}" alt="{{ i.name }}" />
          </mat-card>
        </mat-grid-tile>
        }
      </ul>
      }
    </mat-grid-list>
    <mat-paginator
      [length]="records"
      [pageSize]="16"
      [pageSizeOptions]="[16, 32, 48, 64]"
      aria-label="Select page"
    >
    </mat-paginator>
  </app-main-container>
</div>
