p {
  font-family: "Lato", sans-serif;
  text-align: justify;
}

mat-card {
  width: calc(80%);
  border: 1px solid black;
}

mat-card img{
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 80%;
}

mat-card-subtitle {
  font-size: 15px;
}

mat-card-title {
  color: green;
  font-size: 30px;
  justify-content: center;
  display: flex;
}

.mat-grid-list{
    width: 100%;
}