.main-container {
  display: flex;
  border: 2px solid black;
  gap: 2rem;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem;
  height: 20vh;
  min-height: 500px;
}
